DATABASE_URL=postgresql://postgres.kfyxwwisyunmsizzqgwj:AkshithaReddy@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres

JWT_SECRET=cfb9ae5775db31f3fe39d9b2089c8794c0e1c36023db8ec810f11ac1e0998a4d

PORT=5000